body {
	font-family : Verdana;
	font-size : 11px;
	font-style : normal;
	margin-bottom : 0px;
	margin-left : 0px;
	margin-right : 0px;
	margin-top : 0px;
	overflow : auto;
/*	background-image : url(../img/pagebg_o.jpg);*/
}

h3 {
	margin-bottom : 0px;
	margin-top : 15px;
	font-size : 15px;
	font-family : Verdana;
	font-weight : bold;
}

h4 {
	margin-bottom : 0px;
	margin-top : 15px;
	font-size : 12px;
	font-family : Verdana;
	font-weight : bold;
}

textarea {
	overflow:auto;
	/*border : 1px inset Gray;
	*/
	background-color : #FFFCF9;
	font-family : Verdana;
	font-size : 11px;
}


input {
	/*border : 1px inset #A9A9A9;*/
	font-family : Verdana;
	font-size : 11px;
	/*text-align:right;*/
}

select {
	font-family : Verdana;
	font-size : 11px;
}

label.text  {
	border : 1px solid #A9A9A9;
	background-color : #F0F8FF;
}

td#envCanvasContent {
	background : #FFF8DC  ;   /*    */
	width : 100%;
	height: 100%;
}

table#window {
	width : 100%;
	height : 100%;
	/* overflow : hidden; */
	/* border : 1px solid #808080; */  /*7B68EE   */
	padding-bottom : 0;
	padding-left : 0;
	padding-right : 0;
	padding-top : 0;
}

input#imgPropertyIcon {
	/* nothing is required, it simply overwrite the input setting */
	border : none;
}

td#tdWinTitle {
	padding-left:10px;
	
}

label#txtWinTitle {
	/* font setting if required */
}

/*
tr#winTitleBar {
	width : 100%;
	height :20px;
	vertical-align: top;
}
*/

table#winTitleBar {
	height : 16px;
	background : #FFCC00;
	/*CCCCFF */
	border-top-style : groove;
	border-top-width : thin;
	border-left-style : groove;
	border-left-width : thin;
	border-left-color : Gray;
	border-top-color :#9FC3EE; /*   Gray*/
	border-bottom-style : solid;
	border-bottom-color : Navy;
	border-bottom-width : 1px;
	color: #000000;
	font-weight : bold;
	font-size :12px;
}


tr#winCanvas {
	width : 100%;
	height : 100%;
	/* overflow : hidden; */
	/* this cause the menu cannot be placed correctly */
	background : #FFFF99;;
	/* AEB7FB, D9E7F8*/
}

tr#winStatusBar {
	width : 100%;
	/* overflow : hidden; */
	height : 20px;
	background : #9FC3EE;
	/* CCCCFF */
	border : thin groove;
	vertical-align: bottom;
}

tr#winStatusBar table {
	border : thin groove #7B9EC9;
	/*CCCCFF */
	font-size : 11px;
	font-weight : bold;
}

label#txtStatus {
	border : 1px inset;
	padding-left : 5px;
	padding-right : 5px;
}

/*
div#submitBar {
	width : 100%;
	height : 30px;
	background-color : Gray;
	border : thin groove;
	vertical-align: bottom;
}
*/

td#contentMenuBar {
	height : 20px;
	vertical-align: top;
	padding-top : 3px;

}
td#contentMenuBar label {
	padding-left: 5px;
	font-weight : normal;
	font-size : 11px;
}

table#contentCompositeBar {
	height : 20px;
	width: 100%;
	background-color : #FFFF99;
	/* border : 1px outset Blue; */
}

table#contentCompositeBar tr {
	background-color : #FFFF99; 
}

table#contentCompositeBar tr td label {
	padding-left: 5px;
	font-weight : bold;
	font-size : 12px; 
}

table#contentCompositeBar tr td label#txtContentTitle {
	font-weight : normal;
	padding-left : 3px;
	padding-right : 5px;
    padding-bottom :1px;
}

table#contentCompositeBar2 {
	height : 40px;
	width: 100%;
	background-color : #FFFF99;
	/* border : 1px outset Blue; */
}

table#contentCompositeBar2 tr {
	background-color : #FFFF99; 
}

table#contentCompositeBar2 tr td label {
	padding-left: 5px;
	font-weight : bold;
	font-size : 12px; 
}

table#contentCompositeBar2 tr td label#txtContentTitle {
	font-weight : normal;
	padding-left : 3px;
	padding-right : 5px;
    padding-bottom :1px;
}

td#contentTitleBar {
	/*width : 30px;*/
	vertical-align: bottom;
 	padding-bottom :1px; 
	text-overflow : ellipsis;
}

td#contentToolBar {
	width : 30%;
	vertical-align: bottom;
}

td#contentNavigatorBar {
	width : 30%;
	vertical-align: middle;
}

td#contentTitleBar label {
	padding-left: 5px;
	font-weight : bold;
	font-size : 12px;
}

td#contentTitleBar label#txtContentTitle {
	/*width : 100%;*/
	/*
	border : 1px solid #316AC5;
	background-color : #c1d2ee;
	*/
	
	font-weight : normal;
	padding-left : 3px;
	padding-right : 5px;
    padding-bottom :1px;
}

div#contentCanvas {
	overflow:auto;
	/* DeB887 */
	/* border:thin groove;
	*/
	/*background-image : url(../img/pagebg_o.jpg);*/
	background-color : #FFFFFF;
	border :1px solid Gray;
}

table#generalPurposeBar {
	font-family : Verdana;
	font-size : 11px;
	font-style : normal;
	font-weight : normal;
	height : 100%;	
	background-color : #FFF8DC;
	border-top : 1px solid Silver;
}

/* Form Section */
table.tblFormSection {
	font-family : Verdana;
	font-size : 11px;
}

table.tblFormSection tbody tr  {
	/*padding-bottom:10px;*/
}

table.tblFormSection thead tr td.subheader{
	font-size : 13px;
	font-weight : bold;
	color : #000000;
	background-color : #E39B00;
} 



table.tblFormSection fieldset {
	padding-left:15px;
	padding-top:5px;
	padding-bottom:5px;
}

table.tblFormSection fieldset table {
	font-family : Verdana;
	font-size : 11px;
}

/*
table.tblFormSection tr td label {
	background-color : #efedde;
	border-bottom-color : #999999;
	border-bottom-style : solid;
	border-bottom-width : 1px;
	border-left-color : #999999;
	border-left-style : solid;
	border-left-width : 1px;
	border-right-color : #999999;
	border-right-style : solid;
	border-right-width : 1px;
	border-top-color : #999999;
	border-top-style : solid;
	border-top-width : 1px;
	width : 150px;
	padding-left : 5px;
}
*/

table.tblFormSection tr td div {
	background-color : #efedde;
	border-bottom-color : #999999;
	border-bottom-style : solid;
	border-bottom-width : 1px;
	border-left-color : #999999;
	border-left-style : solid;
	border-left-width : 1px;
	border-right-color : #999999;
	border-right-style : solid;
	border-right-width : 1px;
	border-top-color : #999999;
	border-top-style : solid;
	border-top-width : 1px;
	width : 98%;
	height: 50px;
	padding-left : 5px;
	overflow-y : auto;
}

/* -------------------------------------------------------------------*/
/* Table Info
/* -------------------------------------------------------------------*/
table.tblInfo {
	margin-top:0px;
	font-family : Verdana;
	font-size : 11px;
}

/*
table.tblInfo tr td label {
	background-color : #efedde;
	border-bottom-color : #999999;
	border-bottom-style : solid;
	border-bottom-width : 1px;
	border-left-color : #999999;
	border-left-style : solid;
	border-left-width : 1px;
	border-right-color : #999999;
	border-right-style : solid;
	border-right-width : 1px;
	border-top-color : #999999;
	border-top-style : solid;
	border-top-width : 1px;
	width : 150px;
	padding-left : 5px;
}
*/

table.tblInfo thead tr td {
	background-color : #E39B00;
	border-bottom-color : #999999;
	border-bottom-style : solid;
	border-bottom-width : 1px;
	border-left-color : #FFFFFF;
	border-left-style : solid;
	border-left-width : 1px;
	border-right-color : #999999;
	border-right-style : solid;
	border-right-width : 1px;
	border-top-color : #FFFFFF;
	border-top-style : solid;
	border-top-width : 1px;
	padding-bottom: 0;
	padding-left:3;
	padding-right:3;
	text-align : center;
	font-size: 11px;
	color: white;
	font-weight: normal;
}

table.tblInfo tbody tr td.index {
	background-color : #343434;
	border-bottom-color : #999999;
	border-bottom-style : solid;
	border-bottom-width : 1px;
	border-left-color : #FFFFFF;
	border-left-style : solid;
	border-left-width : 1px;
	border-right-color : #999999;
	border-right-style : solid;
	border-right-width : 1px;
	border-top-color : #FFFFFF;
	border-top-style : solid;
	border-top-width : 1px;
	padding-bottom: 0;
	padding-left:3;
	padding-right:3;
	text-align : center;
	font-size: 11px;
	color: white;
	font-weight: normal;
}


table.tblInfo tbody tr td.indexdiff {
	background-color : #006699;
	border-bottom-color : #999999;
	border-bottom-style : solid;
	border-bottom-width : 1px;
	border-left-color : #FFFFFF;
	border-left-style : solid;
	border-left-width : 1px;
	border-right-color : #999999;
	border-right-style : solid;
	border-right-width : 1px;
	border-top-color : #FFFFFF;
	border-top-style : solid;
	border-top-width : 1px;
	padding-bottom: 0;
	padding-left:3;
	padding-right:3;
	text-align : center;
	font-size: 11px;
	color: white;
	font-weight: normal;
}

table.tblInfo tbody tr td.indexadd {
	background-color : #006699;
	border-bottom-color : #999999;
	border-bottom-style : solid;
	border-bottom-width : 1px;
	border-left-color : #FFFFFF;
	border-left-style : solid;
	border-left-width : 1px;
	border-right-color : #999999;
	border-right-style : solid;
	border-right-width : 1px;
	border-top-color : #FFFFFF;
	border-top-style : solid;
	border-top-width : 1px;
	padding-bottom: 0;
	padding-left:3;
	padding-right:3;
	text-align : center;
	font-size: 11px;
	color: white;
	font-weight: normal;
}

table.tblInfo tbody tr td.indexdel {
	background-color : #FF0000;
	border-bottom-color : #999999;
	border-bottom-style : solid;
	border-bottom-width : 1px;
	border-left-color : #FFFFFF;
	border-left-style : solid;
	border-left-width : 1px;
	border-right-color : #999999;
	border-right-style : solid;
	border-right-width : 1px;
	border-top-color : #FFFFFF;
	border-top-style : solid;
	border-top-width : 1px;
	padding-bottom: 0;
	padding-left:3;
	padding-right:3;
	text-align : center;
	font-size: 11px;
	color: white;
	font-weight: normal;
}

table.tblInfo tbody tr td.amount { 
	text-align: right;
	padding-right: 5px;
}



/*
table.tblInfo thead tr td {
	text-align: left;
}
*/
table.tblInfo thead tr td.subheader {
	text-align: left;
	font-size:11px;
	font-weight : bold;
	font-family : Verdana;
}

table.tblInfo tbody tr td.subtitle {
	background-color : #3E6484;
	text-align : left;
	font-size: 11px;
	color: white;
	font-weight: normal;
}

table.tblInfo thead tr td.topheader {
	background-color : #005B00;
	text-align : center;
	font-size: 13px;
	color: white;
	font-weight: normal;
}

table.tblInfo thead tr td.fieldnamediff {
	background-color : #006699;
	text-align : center;
	font-size: 13px;
	color: white;
	font-weight: normal;
}


/*
table.tblInfo thead tr td, table.tblInfo tbody tr td.subheader {
 	text-align: left;
	font-size:11px; 
	font-weight : bold;
	padding-right:0;
	padding-left:3;
}
*/

table.tblInfo tbody tr  {
	background-color : #FFFAF0; 
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 3px;
	text-align: left;
	padding-right : 2px;
}

table.tblInfo tbody tr.odd {
	background-color: #FFF7E7;
}

/*table.tblInfo tbody tr.edited {
	background-color: #006699;
	color : #FFFFFF;
}

table.tblInfo tbody tr.deleted {
	background-color: #DD8500;
}-->
*/

/*table.tblInfo tbody tr.odd td.fieldname {
	background-color : #E9D294;
	padding-left: 3px;
	padding-right : 3px;
	padding-bottom : 3px;
	padding-top: 3px;
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	color: black;
	font-weight: bold;
	text-align: top;
	width : 20%;
	vertical-align: top;
}*/

table.tblInfo tbody tr.even {
	background-color : #FFEECD;
}

/*table.tblInfo tbody tr.even td.fieldname {
	background-color : #E9D294;
	padding-left: 3px;
	padding-right : 3px;
	padding-bottom : 3px;
	padding-top: 3px;
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	color: black;
	font-weight: bold;
	text-align: top;
	width : 20%;
	vertical-align: top;
}*/

table.tblInfo tbody tr td {
	/* background-color : #FFFAF0; */
	border-bottom-color : #999999;
	border-bottom-style : solid;
	border-bottom-width : 1px;
	border-left-color : #FFFFFF;
	border-left-style : solid;
	border-left-width : 1px;
	border-right-color : #999999;
	border-right-style : solid;
	border-right-width : 1px;
	border-top-color : #FFFFFF;
	border-top-style : solid;
	border-top-width : 1px;
	text-align: left;
	font-size: 11px;
	font-family : Verdana;
}

table.tblInfo tbody tr td.fieldname {
	background-color : #E9D294;
	padding-left: 3px;
	padding-right : 3px;
	padding-bottom : 3px;
	padding-top: 3px;
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	color: black;
	font-weight: bold;
	text-align: top;
	width : 20%;
	vertical-align: top;
}

table.tblInfo tbody tr td.fieldnamediff {
	background-color : #006699;
	padding-left: 3px;
	padding-right : 3px;
	padding-bottom : 3px;
	padding-top: 3px;
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	color: white;
	font-weight: bold;
	text-align: top;
	width : 20%;
	vertical-align: top;
}

table.tblInfo tbody tr td.fieldnamedel {
	background-color : #DD8500;
	padding-left: 3px;
	padding-right : 3px;
	padding-bottom : 3px;
	padding-top: 3px;
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	color: white;
	font-weight: bold;
	text-align: top;
	width : 20%;
	vertical-align: top;
}


table.tblInfo tbody tr td.odd {
	background-color: #FFF7E7;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	text-align: left;
	padding-right : 2px;
}

table.tblInfo tbody tr td.even {
	background-color: #FFEECD;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	text-align: left;
	padding-right : 2px;
}

/*table.tblInfo tbody tr td.edited {
	background-color: #006699;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	text-align: left;
	color : #FFFFFF;
	padding-right : 2px;
}

table.tblInfo tbody tr td.deleted {
	background-color: #DD8500;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	text-align: left;
	padding-right : 2px;
}*/

table.tblInfo tbody tr td.button  { 
	text-align: center;
	border-left : thin;
	border-bottom-width : medium;
	background : #336699;	
}

table.tblInfo tbody tr td.total {
	background : #C2C2C7;
	font-weight : bold;
	text-align : left;
}
table.tblInfo tbody tr td.subtotal {
	background :  #A1A0A1;
	font-weight : bold;
	text-align : left;
	}

table.tblInfo tbody tr td.rate {
	background-color : #ffdd71;
	padding-left: 3px;
	padding-right : 3px;
	padding-bottom : 3px;
	padding-top: 3px;
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	/*color: white;*/
	font-weight: normal;
	text-align: top;
	/*width : 20%;
	vertical-align: top;*/
}
table.tblInfo tbody tr td.fieldname a:link
	{
	COLOR: #F8F8FF;
	font-family : Verdana;
	FONT-SIZE: 11px;
	TEXT-DECORATION: underline;
}
table.tblInfo tbody tr td.fieldname a:visited

{
	COLOR: #F8F8FF;
	font-family : Verdana;
	FONT-SIZE: 11px;
	TEXT-DECORATION: underline;
}
table.tblInfo tbody tr td.fieldname a:hover

{
	COLOR: #F0E68C;
	font-family : Verdana;
	FONT-SIZE: 11px;
	TEXT-DECORATION: underline;
}
table.tblInfo tbody tr td.fieldname a:active

{
	COLOR: #8B4513;
	font-family : Verdana;
	FONT-SIZE: 11px;
	TEXT-DECORATION: none;
	background-color: #D2E1FF;
}

table.tblInfo tbody tr td.outerlimit { 
	color: #FF00CC;	
}

table.tblInfo tbody tr td.outerlimit a:link
{
	COLOR: #FF00CC;
	font-family : Verdana;
	FONT-SIZE: 11px;
	TEXT-DECORATION: underline;
}

table.tblInfo tbody tr td.outerlimit a:visited
{
	COLOR: #FF00CC;
	font-family : Verdana;
	FONT-SIZE: 11px;
	TEXT-DECORATION: underline;
}

table.tblInfo tbody tr td.outerlimit a:hover
{
	COLOR: #FF00CC;
	font-family : Verdana;
	FONT-SIZE: 11px;
	TEXT-DECORATION: underline;
}

table.tblInfo tbody tr td.outerlimit a:active
{
	COLOR: #FF00CC;
	font-family : Verdana;
	FONT-SIZE: 11px;
	TEXT-DECORATION: underline;
}


/* -------------------------------------------------------------------*/
/* Table Input
/* -------------------------------------------------------------------*/
/* -------------------------------------------------------------------*/
/* Table Info
/* -------------------------------------------------------------------*/
table.tblInput {
	margin-top:0px;
	font-family : Verdana;
	font-size : 11px;
}

/*
table.tblInput tr td label {
	background-color : #efedde;
	border-bottom-color : #999999;
	border-bottom-style : solid;
	border-bottom-width : 1px;
	border-left-color : #999999;
	border-left-style : solid;
	border-left-width : 1px;
	border-right-color : #999999;
	border-right-style : solid;
	border-right-width : 1px;
	border-top-color : #999999;
	border-top-style : solid;
	border-top-width : 1px;
	width : 150px;
	padding-left : 5px;
}
*/

table.tblInput thead tr td {
	background-color : #E39B00;
	border-bottom-color : #999999;
	border-bottom-style : solid;
	border-bottom-width : 1px;
	border-left-color : #FFFFFF;
	border-left-style : solid;
	border-left-width : 1px;
	border-right-color : #999999;
	border-right-style : solid;
	border-right-width : 1px;
	border-top-color : #FFFFFF;
	border-top-style : solid;
	border-top-width : 1px;
	padding-bottom: 0;
	padding-left:3;
	padding-right:3;
	text-align : center;
	font-size: 11px;
	color: white;
	font-weight: normal;
}

table.tblInput tbody tr td.index {
	background-color : #343434;
	border-bottom-color : #999999;
	border-bottom-style : solid;
	border-bottom-width : 1px;
	border-left-color : #FFFFFF;
	border-left-style : solid;
	border-left-width : 1px;
	border-right-color : #999999;
	border-right-style : solid;
	border-right-width : 1px;
	border-top-color : #FFFFFF;
	border-top-style : solid;
	border-top-width : 1px;
	padding-bottom: 0;
	padding-left:3;
	padding-right:3;
	text-align : center;
	font-size: 11px;
	color: white;
	font-weight: normal;
}


table.tblInput tbody tr td.indexdiff {
	background-color : #006699;
	border-bottom-color : #999999;
	border-bottom-style : solid;
	border-bottom-width : 1px;
	border-left-color : #FFFFFF;
	border-left-style : solid;
	border-left-width : 1px;
	border-right-color : #999999;
	border-right-style : solid;
	border-right-width : 1px;
	border-top-color : #FFFFFF;
	border-top-style : solid;
	border-top-width : 1px;
	padding-bottom: 0;
	padding-left:3;
	padding-right:3;
	text-align : center;
	font-size: 11px;
	color: white;
	font-weight: normal;
}

table.tblInput tbody tr td.indexadd {
	background-color : #006699;
	border-bottom-color : #999999;
	border-bottom-style : solid;
	border-bottom-width : 1px;
	border-left-color : #FFFFFF;
	border-left-style : solid;
	border-left-width : 1px;
	border-right-color : #999999;
	border-right-style : solid;
	border-right-width : 1px;
	border-top-color : #FFFFFF;
	border-top-style : solid;
	border-top-width : 1px;
	padding-bottom: 0;
	padding-left:3;
	padding-right:3;
	text-align : center;
	font-size: 11px;
	color: white;
	font-weight: normal;
}

table.tblInput tbody tr td.indexdel {
	background-color : #FF0000;
	border-bottom-color : #999999;
	border-bottom-style : solid;
	border-bottom-width : 1px;
	border-left-color : #FFFFFF;
	border-left-style : solid;
	border-left-width : 1px;
	border-right-color : #999999;
	border-right-style : solid;
	border-right-width : 1px;
	border-top-color : #FFFFFF;
	border-top-style : solid;
	border-top-width : 1px;
	padding-bottom: 0;
	padding-left:3;
	padding-right:3;
	text-align : center;
	font-size: 11px;
	color: white;
	font-weight: normal;
}

table.tblInput tbody tr td.amount { 
	text-align: right;
	padding-right: 5px;
}

/*
table.tblInput thead tr td {
	text-align: left;
}
*/
table.tblInput tbody tr td.subtotal {
	background :  #A1A0A1
	font-weight : bold;
	text-align : left;
	}
table.tblInput thead tr td.subheader {
	text-align: left;
	font-size:11px;
	font-weight : bold;
	font-family : Verdana;
}

table.tblInput tbody tr td.subtitle {
	background-color : #3E6484;
	text-align : left;
	font-size: 11px;
	color: white;
	font-weight: normal;
}

table.tblInput thead tr td.topheader {
	background-color : #E39B00;
	text-align : center;
	font-size: 13px;
	color: white;
	font-weight: normal;
}

/*
table.tblInput thead tr td, table.tblInput tbody tr td.subheader {
 	text-align: left;
	font-size:11px; 
	font-weight : bold;
	padding-right:0;
	padding-left:3;
}
*/

table.tblInput tbody tr  {
	background-color : #FFFAF0; 
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 3px;
	text-align: left;
	padding-right : 2px;
}

table.tblInput tbody tr.odd {
	background-color: #FFF7E7;
}

table.tblInput tbody tr.even {
	background-color : #FFEECD;
}

/*table.tblInput tbody tr.edited {
	background-color : #006699;
}

table.tblInput tbody tr.deleted {
	background-color : #DD8500;
}*/

table.tblInput tbody tr td {
	/* background-color : #FFFAF0; */
	border-bottom-color : #999999;
	border-bottom-style : solid;
	border-bottom-width : 1px;
	border-left-color : #FFFFFF;
	border-left-style : solid;
	border-left-width : 1px;
	border-right-color : #999999;
	border-right-style : solid;
	border-right-width : 1px;
	border-top-color : #FFFFFF;
	border-top-style : solid;
	border-top-width : 1px;
	text-align: left;
	font-size: 11px;
	font-family : Verdana;
}

table.tblInput tbody tr td.odd {
	background-color: #E4EFE6;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	text-align: left;
	padding-right : 2px;
}

table.tblInput tbody tr td.even {
	background-color: #D1E9D3;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	text-align: left;
	padding-right : 2px;
}

/*table.tblInput tbody tr td.edited {
	background-color : #006699;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	text-align: left;
	padding-right : 2px;
}

table.tblInput tbody tr td.deleted {
	background-color : #DD8500;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	text-align: left;
	padding-right : 2px;
}*/

table.tblInput tbody tr td.button  { 
	text-align: center;
	border-left : thin;
	border-bottom-width : medium;
	background : #336699;	
}

table.tblInput tbody tr td.total {
	background : #C2C2C7;
	font-weight : bold;
	text-align : left;
}

table.tblInput tbody tr td.fieldname {
	background-color : #E9D294;
	padding-left: 3px;
	padding-right : 3px;
	padding-bottom : 3px;
	padding-top: 3px;
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	color: black;
	font-weight: bold;
	text-align: top;
	width : 20%;
	vertical-align: top;
}

table.tblInput tbody tr td.fieldnamediff {
	background-color : #006699;
	padding-left: 3px;
	padding-right : 3px;
	padding-bottom : 3px;
	padding-top: 3px;
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	color: white;
	font-weight: bold;
	text-align: top;
	width : 20%;
	vertical-align: top;
}

table.tblInput tbody tr td.fieldnamedel {
	background-color : #DD8500;
	padding-left: 3px;
	padding-right : 3px;
	padding-bottom : 3px;
	padding-top: 3px;
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	color: white;
	font-weight: bold;
	text-align: top;
	width : 20%;
	vertical-align: top;
}

table.tblInput tbody tr td.outerlimit { 
	color: #FF00CC;	
}

/* For CR-99 Start*/

table.tblInfo tbody tr td.edit {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; BORDER-LEFT: #ffffff 1px solid; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #cccc99; TEXT-ALIGN: left
}
table.tblFormSection tr td.edit {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; BORDER-LEFT: #ffffff 1px solid; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #cccc99; TEXT-ALIGN: left
}

/* For CR-99 End*/


table.tblInput tbody tr td.fieldname a:link
	{
	COLOR: #F8F8FF;
	font-family : Verdana;
	FONT-SIZE: 11px;
	TEXT-DECORATION: underline;
}
table.tblInput tbody tr td.fieldname a:visited

{
	COLOR: #F8F8FF;
	font-family : Verdana;
	FONT-SIZE: 11px;
	TEXT-DECORATION: underline;
}
table.tblInput tbody tr td.fieldname a:hover

{
	COLOR: #F0E68C;
	font-family : Verdana;
	FONT-SIZE: 11px;
	TEXT-DECORATION: underline;
}
table.tblInput tbody tr td.fieldname a:active

{
	COLOR: #8B4513;
	font-family : Verdana;
	FONT-SIZE: 11px;
	TEXT-DECORATION: none;
	background-color: #D2E1FF;
}

.btnNormal {
	border : 1px solid #E39B00;
	background-color : #FFF7E7;
	text-align : center;
}

.btnHighlight {
	border : 1px solid Purple;
	background-color : #FAF0E6;
	text-align : center;
}

div.buttonHeader
{
	color: black;
	cursor: hand;
	/* netscape => pointer */
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	line-height: 5mm;
	margin: 0px;
	overflow: visible;
	/* position: relative;
	*/
	text-align: center;
	white-space: nowrap;
	/*border : thin outset;
	*/
}

div.buttonhighlightHeader
{
	color: #0000ff;
	cursor: hand;
	/* netscape => pointer */
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	line-height: 5mm;
	margin: 0px;
	overflow: visible;
	/* position: relative;
	*/
	text-align: center;
	white-space: nowrap;
	/*border : thin outset;
	*/
}

div.button
{
	color: black;
	cursor: hand;		/* netscape=> pointer */
	font-family: Verdana;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	line-height: 5mm;
	margin: 0px;
	/* overflow: visible;
	position: relative; */
	text-align: center;
	white-space: nowrap;
	/* border : thin outset; */
}

div.buttonhighlight
{
	color: #0000ff;
	cursor: hand;		/* netscape=> pointer */
	font-family: Verdana;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	line-height: 5mm;
	margin: 0px;
	/* overflow: visible;
	position: relative; */
	text-align: center;
	white-space: nowrap;
	/* border : thin outset; */	
}

div.button img
{
    MARGIN-LEFT: 1mm;
    MARGIN-RIGHT: 1mm;
    POSITION: relative;
    VERTICAL-ALIGN: middle
}

div.buttonhighlight img
{
    MARGIN-LEFT: 1mm;
    MARGIN-RIGHT: 1mm;
    POSITION: relative;
    VERTICAL-ALIGN: middle
}

td#orgpaneltitle {
	height :28px;
	padding-left:5px;
	font-family : Verdana;
	font-weight: bold;
	font-size : 10px;
	color: black;
}

td#orgpanel {
	font-family : Verdana;
	font-size : 11px;
	font-style : normal;
	font-weight : normal;
	/*background-color: #6E8EB2;*/
}

A:link
{
	COLOR: 3A3A3A;
	font-family : Verdana;
	FONT-SIZE: 11px;
	TEXT-DECORATION: underline
}
A:visited
{
    COLOR: 3A3A3A;
	font-family : Verdana;
	FONT-SIZE: 11px;
    TEXT-DECORATION: underline
}
A:hover
{
    COLOR: 7F7A13;
	font-family : Verdana;
	FONT-SIZE: 11px;
    TEXT-DECORATION: underline
}
A:active
{
	COLOR: 8B4513;
	font-family : Verdana;
	FONT-SIZE: 11px;
	TEXT-DECORATION: none;
	background-color: #FFFCA8;
}

.treehighlight {
	background-color: #D7D7D7;
}

.tableSize {
    width : 100%;
    height : 100%;
    /* border: 1px inset #C5C5C5; */
}

.welcome {
	font-family:verdana; 
	font-size:20px; 
	color: #FFCC00; 
	font-weight:bold;

}


.required
{
	font-size: 11px;
	font-family : Verdana;
	color: black;
	float: right;
	margin-right : 5px;
}

.deletedItem
{
	font-size: 16px;
	font-family : Verdana;
	font-weight: bold;
	color: red;
	float: right;
	margin-right : 2px;	
}

.txtLoginUser {
	font-family : Verdana;
	font-size : 11px;
	font-style : normal;
	color: White;
	text-align : right;
	vertical-align : middle;
	padding-right : 5px;
}

.txtError {
	font-family : Verdana;
	font-size : 9px;
	color : Blue;
}

.currency {
	text-align : right;
}
.txtHeaderName {
	font-family : Verdana;
	font-size : 11px;
	font-style : normal;
	color: #ffffff;
	vertical-align : middle;
}

/*.diff {
	background-color : #006699;
	text-align : center;
	color: #ffffff;
}*/

.role { 
	font-family:verdana;
	font-size:11px;
	color: #000000;
	font-weight:bold;
}

A.menu:link {
	font-family:verdana;
	font-size:10px;
	color: #000000;
	text-decoration:none;
}

A.menu:visited {
	font-family:verdana;
	font-size:10px;
	color: #000000;
	text-decoration:none;
}

A.menu:active {
	font-family:verdana;
	font-size:10px;
	color: #000000;
	text-decoration:none;
	background-color: #E0F7C3;
}

A.menu:hover {
	font-family:verdana;
	font-size:10px;
	color: #000000;
	text-decoration:none;
	background-color: #F2F2F2;
}

A.note:link {
	COLOR: Blue;
	font-family : Verdana;
	FONT-SIZE: 11px;
    	TEXT-DECORATION: underline
}

A.note:visited {
	COLOR: Navy;
	font-family : Verdana;
	FONT-SIZE: 11px;
    	TEXT-DECORATION: underline
}

A.note:active {
	COLOR: Purple;
	font-family : Verdana;
	FONT-SIZE: 11px;
    	TEXT-DECORATION: underline
}

A.note:hover {
	COLOR: Purple;
	font-family : Verdana;
	FONT-SIZE: 11px;
    	TEXT-DECORATION: underline
}

span.mandatory {
	color: #FF0000;
}

span.error {
	color: #FF0000;

}	

